[Unit]
Description=Nivo Partners Watchdog (RAM & Log Monitor)
After=network.target

[Service]
EnvironmentFile=/home/diego/nivo_fx/.env
User=diego
WorkingDirectory=/home/diego/nivo_fx/
Environment="PATH=/home/diego/nivo_fx/.venv/bin"
ExecStart=/home/diego/nivo_fx/.venv/bin/python nivo_watchdog.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
